h1 {
    color: rgb(129, 217, 235);
}
main {
    color: aliceblue;
}

body {
    background-image: url("/images/test.jpg");
    background-repeat: repeat;
}

.error {
    color:red;
}

.info {
    color:rgb(235, 104, 206)
}