<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= header %></h1>
    <p>Username: <%= data.username %></p>
    <p>Username: <%= data.password %></p>
    <a href="/"><button>Home</button></a>
  </body>
</html>
